# ignore Vim backups and swapfiles
*~
*.swp
# ignore other backup files
*.bak
# ignore the Apache password file
passwd
# ignore the test emails directory
t/mails
# ignore Vagrant's housekeeping data
.vagrant
# generated images in the documentation directory
docs/*.png
docs/*.svg
